.file {
    margin: auto;
    justify-items: center;
    width: 70%;
}
.form-label {
    cursor: pointer;
}
.fileName {
    color: green;
}

.center {
    text-align: center;
}

.btn-success {
    float: right;
}

.filePfp {
    display: none ;
}
.img-style {
    max-width: 60%;
    height: auto;
    border-radius: 5px;
}
.img-style:hover {
    box-shadow: 0 3px 4px #000;
}
.shadow {
    box-shadow: 0 3px 4px #000;
}
.circle { 
    width: 20px;
    height: 20px;
    background: #e6e7e9; 
    -moz-border-radius: 50px; 
    -webkit-border-radius: 50px; 
    border-radius: 50px;
 }

.doc-icon {
    width: 30%;
}

.score-icon {
    width: 20%;
}

.score-mini-icon {
    width: 15%;
}

.img-cop {
    width: 100px;
}