.login{
    margin:auto;
    margin-top: 10% !important;
    width: 50%;
    height: auto;
    border-radius: 15px;
}
.login h6{
    text-align:center;
}
.gambar-login{
    display: block;
    margin: auto;
}