body {
    background-color: #eee
}

.side-item:hover {
    background-color: #a07558 !important;
    border-radius: 30px;
}
.active {
    background-color: #2f210d !important;
    border-radius: 30px !important;
}

.nav-link .fa {
    transition: all 1s
}

.nav-link .fa-chevron-right {
    transition: all 0.25s;
    float: right;
    
}

.nav-link:hover .fa {
    transform: rotate(360deg)
}

.nav-link:hover .fa-chevron-right {
    transform: rotate(90deg) !important;
}

.text-menu {
    margin-top: 20%;
    font-size: medium;
    text-align: center;
}