body {
    background-color: whitesmoke;
}

.box-1 {
    background: linear-gradient(#ff7f00, transparent);
    position: relative;
    bottom:1px;
    border-top-right-radius: 15px !important;
}
.box-2 {
    background: linear-gradient(#ff7f00, transparent);
    position: relative;
    bottom:1px;
    border-top-right-radius: 15px !important;
    border-top-left-radius: 15px !important;
    border-bottom-right-radius: none !important;
    border-bottom-left-radius: none !important;
}

.space {
    padding: 10px;
}

.on {
    background-color: #ff7f00 !important;
    border-top-right-radius: 15px !important;
    border-top-left-radius: 15px !important;
    color: black;
}

.bg-young-brown {
    background-color: #964b00;
}
.bg-brown {
    background-color: #2f210d;
}

.border-radius {
    border-radius: 15px !important;
}
.border-top-radius {
    border-top-right-radius: 15px !important;
    border-top-left-radius: 15px !important;
}
.border-bottom-radius {
    border-bottom-right-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
}
